@media (max-width: 1024px) {

    html {
        font-size: 14px;
    }

    main.site-main {
        margin: 0;
    }

    section.entry-header {
        border-radius: 0;
    }

    div.site-form, div.site-blog-container {
        margin-top: 1em;
    }

    .site-logos {
        padding: 1em 2em;
    }

    .site-logos-container {
        display: flex;
        justify-content: space-evenly;
    }

    .site-logos-container .site-logo {
        margin-right: 0;
    }

    .site-information-image {
        margin: 1em;
        flex-shrink: 1;
    }

    .site-information-text {
        flex-basis: 53%;
    }

}

@media (max-width: 768px) {

    html {
        font-size: 12px;
    }

    nav.site-navigation {
        display: none;
    }

    section.entry-header {
        padding: 3em 0;
    }

    p.entry-header-description {
        font-size: 1.5rem;
        left: 4em;
        top: 1.8em;
    }

    .entry-header-title {
        font-size: 4rem;
        padding-bottom: 0;
    }

    .site-logos-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }

    .site-logos-container .site-logo {
        flex: 0 0 31%;
        margin-right: 0;
    }

    div.site-form, div.site-blog-container {
        margin-top: 0;
    }

    .site-information-text {
        flex-basis: 75%;
        margin: 0 auto;
        text-align: center;
    }

    .site-information-text p {
        width: 100%;
    }

    .site-information-image {
        display: none;
    }

    form p {
        flex-direction: column;
    }

    form p label {
        padding-bottom: 0.5em;
    }

    form p input {
        width: 100%;
    }

    .site-form button {
        margin: 0 auto;
    }

    .site-posts {
        flex-direction: column;
        width: 73%;
        margin: 0 auto;
    }

    footer.site-footer {
        flex-direction: column;
        align-items: center;
    }

}