<section>
  <h2>Register</h2>
  <div class="spacer">
    <form method="POST" action="/register">
      <label>Username:</label>
      <input type="text" name="username" value="{{username}}">
      <label>Password:</label>
      <input type="password" name="password" value="{{password}}">
      <label>Repeat password:</label>
      <input type="password" name="repeatPassword" value="{{repeatPassword}}">
      <input type="submit" value="Register">
    </form>
  </div>
</section>