.container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.product-image {
  width: 200px;
}

.product-tile {
  background: #eee;
  color: #282c34;
  padding: 0 15px 20px;
  ;
}

.product-brand {
  display: block;
  font-size: 14px;
  text-align: left;
}

.product-title {
  display: block;
  font-size: 17px;
  text-align: left;
  margin: 10px 0;
}

.product-price {
  font-size: 14px;
  text-align: left;
}

.product-price span {
  margin-left: 5px;
  color: red;
  font-size: 17px;
}