.main {
    display: inline-block;
    width: 83%;
    height: auto;
    margin-bottom: 5%;
}

h1 {
    text-align: center;
    color: #234465;
    text-decoration: underline;
    margin-bottom: 2%;
}