body {
    background-size: cover;
    background: url("../img/hands-with-pencil-and-ruler.jpg") no-repeat;
    backface-visibility: visible;
    backdrop-filter: opacity(.5);
}

.blue-container {
    background: #17A2B8;
}

.card {
    border: 2px solid white;
    margin: 5px;
}

.social-media-form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -3px;
}