<main>
    <h1>Create Accessory</h1>
    <div class="form">
        <form action='/create/accessory' method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{accessory.name}}">
            <label for="name">Description</label>
            <textarea id="name" name="description">{{accessory.description}}</textarea>
            <label for="image">ImageUrl</label>
            <input type="text" id="image" name="imageUrl" value="{{accessory.imageUrl}}">
            <input type="submit" value="Create">
        </form>
    </div>
</main>