* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Arial, sans-serif;
}

body {
    text-transform: uppercase;
    color: #FFFFFF;
}

.personal-card {
    background: linear-gradient(to bottom, #051937, #003352, #004d54, #006339, #53730b);
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.color-box.top {
    padding-top: 1.5rem;
}

.color-box > p {
    width: 20%;
    height: 0.3rem;
    float: left;
}

.yellow {
    background: yellow;
}

.yellow-green {
    background: yellowgreen;
}

.green {
    background: green;
}

.orange {
    background: orange;
}

.red {
    background: red;
}

.personal-info {
    padding: 4rem 4rem 6rem 4rem;
}

.personal-info img {
    width: 150px;
    height: 150px;
    transform: rotate(-12deg);
}

.personal-content {
    width: 50%;
    float: right;
    text-align: right;
}

.personal-content .name {
    font-size: 2rem;
    font-weight: 900;
    color: yellowgreen;
}

.color-box.with-content {
    margin-bottom: 2rem;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.color-box.with-content > p {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    padding: 0.7rem 0;
    height: auto;
}

.color-box.with-content > .yellow {
    color: yellow;
    position: relative;
}

.color-box.with-content img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}