<main>
    <h1>Create Team</h1>
    <div class="form">
        <form method="POST" action="/team/create">
            <label>Team Name</label>
            <input type="text" name="name" value="{{team.name}}">
            <input type="submit" value="Create">
        </form>
    </div>
</main>