<main>
  <h1>Login</h1>
  <div class="form">
    <form method="POST" action="/login">
      <label for="name">Username:</label>
      <input type="text" name="username" value="{{username}}"><br>

      <label for="name">Password:</label>
      <input type="password" name="password" value="{{password}}"><br>

      <input type="submit" value="Login">
    </form>
  </div>
</main>