.footer {
    width: 100%;
    height: 20vh;
    background-color: #ffa000;
    color: #234465;
    border-top: 2px solid #234465;
    border-bottom: 2px solid #234465;
}

.footer p {
    text-align: center;
    font-weight: bold;
}