#wrapper {
    width: 800px;
    overflow: hidden;
}

#header {
    font-size: 300%;
    font-weight: bold;
}

#menu {
    background-color: darkgrey;
    padding: 0.5em
}

#menu a {
    margin-left: 1em;
    margin-right: 1em;
}

#content {
    width: 500px;
    float: left;
}

.article {
    padding: 2em;
}

.article .title {
    font-size: 150%;
}

#sidebar {
    width: 250px;
    float: right;
    background-color: lightgray;
}

#footer {
    text-align: center;
    clear: both;
    height: 5em;
    background-color: darkgrey;
}

.highlight {
    border: 1px solid red;
    background-color: pink;
}
