<form method="POST" action="/login">
  <h1>Login</h1>

  <p>Personal info</p>
  <label for="usernmae">Username</label>
  <input id="username" type="text" placeholder="JustMyself123..." name="username" value="{{username}}">

  <label for="usernmae">Password</label>
  <input id="password" type="password" placeholder="********" name="password" value="{{password}}">

  <button type="submit">Login</button>
</form>