<form method="POST" action="/register">
  <h1>Register</h1>

  <p>Personal info</p>
  <label for="usernmae">Username</label>
  <input id="username" type="text" placeholder="JustMyself123..." name="username" value="{{username}}">

  <label for="usernmae">Password</label>
  <input id="password" type="password" placeholder="******" name="password" value="{{password}}">

  <label for="repeat-password">Repeat Password</label>
  <input id="repeat-password" type="password" placeholder="******" name="repeatPassword" value="{{repeatPassword}}">
  <hr>
  <p>Account</p>
  <label for="usernmae">Amount</label>
  <input id="username" type="text" placeholder="$125.90" name="amount" value="{{amount}}">

  <button type="submit">Register</button>
</form>