body {
    width: var(--layout-main-width);
    margin: 2em auto;
}

section {
    border: 2px solid var(--color-link-and-border);
    border-radius: 0.3em;
}

section ul {
    padding: 2em 1.5em;
    display: flex;
    justify-content: space-between;
}

section ul li {
    flex: 0 0 30%;
    list-style: none outside;
}

section ul li a {
    background: var(--color-link-and-border);
    border: 1px solid var(--color-link-and-border);
    border-radius: 0.3em;
    color: var(--color-body-background);
    padding: 0.3em 1em;
}

section ul li a:hover {
    border-color: var(--color-body-text);
    background: var(--color-body-text);
    color: var(--color-link-and-border);
}
