:root {
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;

    --layout-main-width: 70%;

    --color-body-background: #FFFFFF;
    --color-body-text: #275468;
    --color-link-and-border: #FFC701;
}