.product-image {
    width: 200px;
}

.product-tile {
    background: #eee;
    color: #282c34;
    padding: 0 15px 20px;
    margin: 10px;
}

.product-brand {
    display: block;
    font-size: 14px;
    text-align: left;
}

.product-title {
    display: block;
    font-size: 17px;
    text-align: left;
    margin: 10px 0;
}

.product-price {
    font-size: 14px;
    text-align: left;
}

.product-seconds {
    font-size: 12px;
}