{{> header}}
<h1>Register</h1>
<form action="#/register" method="POST">
  <label>Username</label>
  <input type="text" name="username">
  <label>Password</label>
  <input type="password" name="password">
  <label>Repeat Password</label>
  <input type="password" name="repeatPassword">
  <input type="submit" value="Register">
</form>
{{> footer}}