.profile {
    width: 83%;
    display: inline-block;
    vertical-align: top;
    padding: 0.5%;
}

.profile img {
    max-width: 265px;
    margin: 0 auto;
}

.profile .personal-info {
    vertical-align: top;
    padding: 10px;
    margin: 0 auto;
    color: #234465;
    width: 50%;
    text-align: center;
}

.profile p {
    text-decoration: underline;
    margin-bottom: 1%;
}

.profile h2 {
    color: #234465;
    text-decoration: underline;
}