:root {
    --font-size-body: 12px;
    --font-size-body-small: 14px;
    --font-size-body-big: 16px;
    --font-size-body-huge: 18px;

    --color-body-background: #FFFFFF;
    --color-body-text: #000000;
}