* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Helvetica, sans-serif
}

body {
    width: 80%;
    margin: 0 auto;
}

header, main, aside, footer {
    border: 1px solid #000000;
    padding: 2rem;
}

header {
    text-align: center;
    font-size: 1.8rem;
}

main {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
    float: right;
}

footer {
    clear: both;
    text-align: center;
}
