nav .list-item,
footer .list-item {
    display: inline-block;
    height: auto;
    margin-right: 2%;
    cursor: pointer;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
}

nav .list-item a {
    color: white;
    text-decoration: none;
}

nav .list-item:not(:first-child) {
    padding: 2%;
    margin-top: 1.5%;
    border-top: 2px solid #ffa000;
}

nav .list-item:hover {
    border-top: none;
    border-bottom: 2px solid #ffa000;
    font-weight: bold;
}

aside .list-item {
    display: block;
    width: 98%;
    border-left: 2px solid #234465;
    border-right: 2px solid #234465;
    margin-bottom: 11%;
    height: 5vh;
    text-align: center;
}

aside .list-item a {
    color: #234465;
    text-align: center;
    text-decoration: none;
    padding-top: 5%;
    height: 60%;
    display: block;
}

aside .list-item:hover {
    border-left: none;
    border-right: none;
    font-weight: bold;
    border-top: 2px solid #234465;
    border-bottom: 2px solid #234465;
    color: #ffa000;
}

footer .list-item a {
    color: #234465;
    text-decoration: none;
}

footer .list-item:nth-child(1) {
    margin-left: 1%;
}

footer .list-item:not(:last-child) {
    padding: 2%;
    margin-top: 1.5%;
    border-bottom: 2px solid #234465;
}

footer .list-item:hover {
    border-bottom: none;
    border-top: 2px solid #234465;
    font-weight: bold;
}