<main>
  <h1>Register Form</h1>
  <div class="form">
    <form action='/register' method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      {{#if errors.username}}
      <div class="error">{{ errors.username }}</div>
      {{/if}}

      <label for="password">Password</label>
      <input type="password" id="password" name="password">

      <label for="repeatPassword">Re-Password</label>
      <input type="password" id="repeatPassword" name="repeatPassword">
      {{#if errors.repeatPassword}}
      <div class="error">{{ errors.repeatPassword }}</div>
      {{/if}}

      <input type="submit" value="Register">
    </form>
  </div>
</main>