table, td, th {
    border: 1px solid rgb(221, 221, 221);
}

tr:nth-child(odd), tr:nth-child(odd) td {
    background: rgb(241, 241, 241);
}

tr:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
